subscription_id       = "00000000-0000-0000-0000-000000000000"
tenant_id              = "00000000-0000-0000-0000-000000000000"
location               = "eastus2"
environment            = "dev"
workload               = "manish"
region_code            = "eus2"
random_identifier      = "abc12"
instance               = "01"
admin_group_object_ids = ["00000000-0000-0000-0000-000000000000"]
github_repository      = "your-org/your-repository"
github_branch          = "main"
runner_vm_size         = "Standard_D2ds_v6"
runner_availability_zone = null
runner_admin_ssh_public_key = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDO+BLvL76C2kG188qNiJSNFUnuqgZlkGmoPy/hz+ZOlGut8+fj3upqLd+ohfypML3xipvURsjwAAXEhgUoXdcvJbesEPp/HHbkxqA/FpcPC7ByM3PQQ5IN+GmQVztrv3Q0WrlA/7x+x24Q8TxaoL7Bjx1OWB51NOWNeyhLiocyWvuTcfMtoqW8coD1iHrCDneQ2Wzr8Gv8MRidvBI22rcmShC01PRAfRNb6bfwpYqyZaMSj7V9pzaDpkiEdqp2wNikv94wCmLEmpbc3P5P1j8Iv9uz/80kW2L7Ufx8T7hIecvrtVt7U40tesc2VTnLVI7uDs0k9VIDodiQKmFOucG9 rsa-key-20261002"

# Add one grant per team and namespace after creating the namespace.
# namespace_access = {
#   payments_writer = {
#     namespace             = "payments"
#     entra_group_object_id = "00000000-0000-0000-0000-000000000000"
#     role_definition_name  = "Azure Kubernetes Service RBAC Writer"
#   }
#   payments_reader = {
#     namespace             = "payments"
#     entra_group_object_id = "00000000-0000-0000-0000-000000000000"
#     role_definition_name  = "Azure Kubernetes Service RBAC Reader"
#   }
# }
