subscription_id       = "00000000-0000-0000-0000-000000000000"
tenant_id              = "00000000-0000-0000-0000-000000000000"
location               = "westeurope"
environment            = "dev"
workload               = "manish"
region_code            = "weu"
random_identifier      = "abc12"
instance               = "01"
admin_group_object_ids = ["00000000-0000-0000-0000-000000000000"]
github_repository      = "your-org/your-repository"
github_branch          = "main"
